<div class="text-light container">
    <h1 class="text-center my-4">Edit your login info</h1>

    <%= render "users/form" %>
</div>
<%= link_to "[Cancel and return to articles listing]", articles_path, class: "mt-4 text-center text-info"%>
