<div class="text-light white container mt-5">
    <div class="jumbotron text-center"  id="homebotron">
        <h1 class="display-3">ALPHA BLOG</h1>
        <p class="lead"> A blog site for all your posting needs</p>
        <hr class="my-4">
        <p class= "lead">Please enjoy your stay</p>
        <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
