@import "bootstrap";

html,
body{
    background: linear-gradient(to bottom, #ADEFD1FF, #00203FFF 100%);
    height: 100%;
    background-repeat:  no-repeat;
    background-attachment: fixed;
}

#homebotron{
    background-image: asset-url('jumbotron2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 1200;
    color: whitesmoke;
    text-shadow: 1px 1px 8px black;
}

#homebotron .lead{
    font-size: 2.4rem;
}

#logo{
    font-size: 1.7rem;
}

#footer{
    color: lightgray;
    width: 100%;
    font-size: 0.7rem;
}
