<h1 class= "text-center text-light my-4">Edit category</h1>

<div class="container">
    <%= render 'form' %>
</div>

<%= link_to "[Go back to the category page]", category_path(@category), class: "mt-4 text-info text-center"%>
